.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.login img {
    margin: 30px auto;
    object-fit: contain;
    width: 100px;
}

.login-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-container form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-container form input {
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: white;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
}

.login-container form input:focus {
    outline: 2px solid skyblue;
}

.signin {
    border: none;
    background: #f0c14b;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.signin:hover {
    background-color: #ddb347;
}

.login-container p {
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
}

.account {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #e7e9ec;
}

.account:hover {
    background-color: lightgray;
}